/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
html {
  overflow-x: hidden;
}

:root {
  --primary: #0d28a6;
  --limegreen: #5cb85f;
}

body {
  font-family: Helvetica, sans-serif;
}

.label-left {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, -100%);
}

/*--------------------------------------------------------------
  # Navbar
  --------------------------------------------------------------*/

.no-cars-found {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  padding: 20px;
  margin: 20px 0;
}

.no-cars-found p {
  margin: 0;
  font-size: 1.2rem;
}

/* .loading-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  } */

.spinner-border {
  width: 3rem;
  height: 3rem;
}

/* .spinner-border span {
    display: none;
  } */

/* navbar */
.navbar {
  background-color: #f1f3ff !important;
}

.navbar .fluid {
  width: 100px;
  height: 34px;
  margin: 8px 628px 0px 136px;
}

.navbar .offcanvas-title {
  font-weight: bold;
}

.navbar .navbar-nav .nav-link {
  height: 20px;
  margin: 8px 32px 0px 32px;
  font-size: 19px;
  /* font-weight: 600; */
  color: black;
}

.navbar .navbar-nav .nav-link:hover {
  color: #0d28a6;
  font-weight: 700;
  text-decoration: underline;
}

.navbar .btn {
  margin: 12px 136px 0px 32px;
  /* padding: 8px 12px; */
  /* height: 36px; */
  width: fit-content;
  background-color: limegreen;
  border-color: limegreen;
  font-size: 19px;
  font-weight: bold;
  gap: 10px;
  line-height: 20px;
}

.navbar .btn:hover {
  background-color: green;
  border-color: green;
}

.my-navbar {
  background-color: #f1f3ff !important;
}

/*--------------------------------------------------------------
  # Hero
  --------------------------------------------------------------*/
#hero {
  background-color: #f1f3ff !important;
  height: 670px;
  padding: 30px 0px 0px 0px;
}

#hero .row .deskripsi {
  margin-right: 70px;
}

#hero .row .deskripsi h2 {
  font-weight: 700;
  line-height: 54px;
}

#hero .row .deskripsi p {
  line-height: 20px;
  margin: 30px 100px 16px 0px;
}

#hero .row .deskripsi button {
  width: fit-content;
  height: 36px;
  background-color: limegreen;
  border-color: limegreen;
  font-size: 14px;
  font-weight: bold;
  gap: 10px;
  line-height: 20px;
  margin: 40px 100px 16px 0px;
}

#hero .row .deskripsi button:hover {
  background-color: green;
  border-color: green;
}

#hero .row {
  --bs-gutter-x: unset;
}

#hero .row .gambar {
  margin-top: 75px;
  width: 1000px;
}

/* Our Service */
#our-services .gambar2 {
  margin: 160px 0px 0px 0px;
}

#our-services .deskripsi2 {
  margin: 170px 0px 0px 0px;
  font-size: 19px;
}

/*--------------------------------------------------------------
  # Why-Us
  --------------------------------------------------------------*/
#why-us {
  padding-top: 60px;
}

#why-us .heading_why-us {
  font-size: 25px;
  font-weight: 700;
}

#why-us .card {
  width: 100%;
  /* height: auto; */
  /* margin-bottom: 20px; */
  height: 196px;
}

#why-us .card img {
  padding: 1.5rem 1.5rem 0rem 1rem;
}

#why-us .card:hover {
  background-color: #0d28a6;
  color: #fff;
}

#why-us .card-body {
  padding: 1rem;
  padding-bottom: 10px;
}

#why-us .card-text {
  font-size: 14px;
}

/*--------------------------------------------------------------
  # Testimonial
  --------------------------------------------------------------*/
#testimonial {
  height: 560px;
  padding-top: 70px;
}

#testimonial .container-fluid {
  padding-top: 100px;
}

#testimonial .row {
  --bs-gutter-x: unset;
}

#testimonial h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #000000;
}

#testimonial p {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #000000;
}

.bi-chevron-left::before,
.bi-chevron-right::before {
  border-radius: 32px;
  border: solid 1px #c4c4c4;
  vertical-align: inherit;
  padding: 8px;
  border-radius: 32px;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
  border-radius: 32px;
  border: solid 1px #c4c4c4;
  margin-right: 24px;
}

.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover {
  background-color: limegreen;
  margin-right: 26px;
  border: none;
}

#testimonial .item {
  width: 619px;
  height: 270px;
  background: #f1f3ff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  display: flex;
}

#testimonial .img {
  width: 80px;
  height: 80px;
  margin: 95px 46px;
}

#testimonial .testimoni {
  margin: 69px 32px 69px 0px;
}

#testimonial .checked {
  color: #f9cc00;
}

#testimonial .quote {
  width: 415px;
  text-align: left;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  margin: 8px 0px;
}

#testimonial .name {
  width: 415px;
  text-align: left;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  margin: 8px 0px;
}

/*--------------------------------------------------------------
  # Started
  --------------------------------------------------------------*/
#started .card {
  background-color: #0d28a6;
  margin-top: 50px;
}

#started .card-body p {
  width: 450px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  margin: 0 auto;
}

#started .card-body .btn {
  background: limegreen;
  border-color: limegreen;
  width: 145px;
  height: 36px;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  margin-top: 52px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
}

#started .card-body .btn:hover {
  background: green;
  border-color: green;
}

/*--------------------------------------------------------------
  # FAQ
  --------------------------------------------------------------*/
#faq {
  height: auto;
}
#faq .container {
  display: flex;
  padding-top: 100px;
  padding-right: 0px;
  padding-left: 0px;
}
#faq .item {
  margin-right: 132px;
}

#faq h1 {
  width: 368px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}
#faq p {
  width: 368px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
#faq .accordion {
  width: 100%;
}
#faq .accordion-item {
  margin-bottom: 16px;
  background: #ffffff;
  border: 1px solid #d4d4d4;
  box-sizing: border-box;
  border-radius: 4px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  /* width: 100% !important; */
}
.nav .accordion-item {
  width: 100% !important; /* Mengatur lebar secara eksplisit untuk elemen accordion */
}

/*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
#footer {
  margin-top: 110px;
}

#footer .navigation .nav .nav-item .nav-link {
  color: black;
  font-weight: bold;
  gap: 16px;
  padding: 16px 0px;
}

/*--------------------------------------------------------------
  # SearchBar
  --------------------------------------------------------------*/
#searchbar {
  margin-top: -30px;
  /* max-height: 110px; */
  /* width: 1300px; */
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

#searchbar button {
  background-color: limegreen;
  border-color: limegreen;
  max-width: 90px;
}

#searchbar button:hover {
  background-color: green;
  border-color: green;
}

#searchbar .text-sm {
  font-size: 12px;
}

#searchbar .pick {
  border-right: none;
}

#searchbar .pick-icon {
  background-color: #fff;
  border-left: none;
}

.inp-icon {
  color: #8a8a8a;
}

/* Hide the calendar icon on date input */
/* input[type='date']::-webkit-calendar-picker-indicator {
    display: none;
  } */

/*--------------------------------------------------------------
  # Result Card
  --------------------------------------------------------------*/
#result-card .card {
  height: 700px;
}

#result-card .card-img-top {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

#result-card .card-info {
  margin-top: auto;
}

#result-card .icon {
  color: #8a8a8a;
}

#result-card .btn {
  background-color: limegreen;
  border-color: limegreen;
}

#result-card .btn:hover {
  background-color: green;
  border-color: green;
}

@media (max-width: 2050px) {
  #hero {
    height: 660px;
  }

  #hero .row .deskripsi h2 {
    font-weight: 700;
    line-height: 54px;
  }

  #hero .row .deskripsi p {
    line-height: 20px;
  }

  #hero .row .deskripsi button {
    width: fit-content;
    height: 36px;
    background-color: #5cb85f;
    border-color: #5cb85f;
    font-weight: bold;
    gap: 10px;
    line-height: 20px;
    margin: 30px 100px 16px 0px;
  }
}

@media (max-width: 1950px) {
  .navbar .fluid {
    margin: 8px 0px 0px 68px;
  }

  .navbar .navbar-nav .nav-link {
    margin: 8px 12px 0px 12px;
    font-size: 14px;
  }

  .navbar .btn {
    margin: 8px 68px 0px 12px;
    font-size: 14px;
  }

  #hero {
    height: 610px;
  }

  #hero .row .deskripsi h2 {
    font-weight: 700;
    line-height: 54px;
  }

  #hero .row .deskripsi p {
    line-height: 20px;
  }

  #hero .row .deskripsi button {
    width: fit-content;
    height: 36px;
    background-color: #5cb85f;
    border-color: #5cb85f;
    font-weight: bold;
    gap: 10px;
    line-height: 20px;
    margin: 30px 100px 16px 0px;
  }
}

@media (max-width: 1800px) {
  #hero {
    height: 565px;
  }

  #hero .row .deskripsi h2 {
    font-weight: 700;
    line-height: 54px;
  }

  #hero .row .deskripsi p {
    line-height: 20px;
    font-size: 14px;
  }

  #hero .row .deskripsi button {
    width: fit-content;
    height: 36px;
    background-color: #5cb85f;
    border-color: #5cb85f;
    font-size: 14px;
    font-weight: bold;
    gap: 10px;
    line-height: 20px;
    margin: 16px 100px 16px 0px;
  }
}

@media (max-width: 1620px) {
  #hero {
    height: 530px;
  }

  /* #hero .row .deskripsi h2.display-6.fw-bold.lh-2 {
      font-weight: 700;
      line-height: 54px;
      font-size: 40px;
    } */

  #hero .row .deskripsi p {
    line-height: 20px;
    font-size: 14px;
    margin: 16px 100px 16px 0px;
  }

  #hero .row .deskripsi button {
    width: fit-content;
    height: 36px;
    background-color: #5cb85f;
    border-color: #5cb85f;
    font-size: 14px;
    font-weight: bold;
    gap: 10px;
    line-height: 20px;
    margin: 10px 100px 16px 0px;
  }

  #our-services .gambar2 {
    margin: 30px 0px 0px 0px;
  }

  #our-services .deskripsi2 {
    margin: 70px 0px 0px 0px;
    font-size: 14px;
  }
}

@media (max-width: 1500px) {
  #hero {
    height: 480px;
  }

  #hero .row .deskripsi {
    margin-right: 30px;
  }

  #hero .row .deskripsi h2 {
    font-weight: 700;
    line-height: 54px;
  }

  #hero .row .deskripsi p {
    line-height: 20px;
    font-size: 14px;
  }

  #hero .row .deskripsi button {
    width: fit-content;
    height: 36px;
    background-color: #5cb85f;
    border-color: #5cb85f;
    font-size: 14px;
    font-weight: bold;
    gap: 10px;
    line-height: 20px;
    margin: 10px 100px 16px 0px;
  }

  #why-us .card-tittle {
    font-size: 16px;
    font-weight: 900;
  }
}

@media (max-width: 1400px) {
  #why-us .whyus-card {
    height: 200px;
  }

  #searchbar .col-lg-1 {
    width: 200%;
  }

  #searchbar .btn {
    width: 200%;
  }
}

@media (max-width: 1320px) {
  #hero {
    height: 440px;
  }

  #hero .row .deskripsi p {
    line-height: 20px;
    font-size: 14px;
    margin: 16px 0px 16px 0px;
  }

  #hero .row .deskripsi button {
    width: fit-content;
    height: 36px;
    background-color: #5cb85f;
    border-color: #5cb85f;
    font-size: 14px;
    font-weight: bold;
    gap: 10px;
    line-height: 20px;
    margin: 5px 100px 16px 0px;
  }

  #searchbar .text-start {
    font-size: 12px;
  }
}

@media (max-width: 1215px) {
  #hero {
    height: 430px;
  }

  #hero .row h2 {
    font-size: 30px;
    line-height: 0%;
  }

  #hero .row .deskripsi p {
    line-height: 20px;
    font-size: 14px;
    margin: 16px 100px 16px 0px;
  }

  #hero .row .deskripsi button {
    width: fit-content;
    height: 36px;
    background-color: #5cb85f;
    border-color: #5cb85f;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    margin: 5px 100px 16px 0px;
  }

  #testimonial {
    height: auto;
  }
  #testimonial .container-fluid {
    padding-top: 80px;
    margin-top: 0px;
  }
  #testimonial .item {
    width: 450px;
    height: 330px;
    flex-direction: column;
    text-align: center;
  }
  #testimonial .img {
    width: 80px;
    height: 80px;
    margin: 40px auto;
    margin-bottom: 0px;
  }
  #testimonial .testimoni {
    margin: 24px 32px;
  }
  #testimonial .quote {
    width: 100%;
  }
  #testimonial .name {
    width: 100%;
  }

  #faq {
    height: auto;
  }
  #faq .container {
    flex-direction: column;
    padding-top: 80px;
  }
  #faq .item {
    margin-right: 0px;
  }
  #faq h1 {
    width: 100%;
  }
  #faq p {
    width: 100%;
  }
  #faq .accordion {
    width: 100%;
    margin-top: 8px;
  }

  #searchbar {
    margin-top: -15px;
  }

  #searchbar .col-lg-1 {
    width: 100%;
  }

  #searchbar .btn {
    width: 100%;
  }

  /* #searchbar button {
      width: 70px;
    }
  
    #searchbar .text-start {
      font-size: smaller;
    } */
}

@media (max-width: 1200px) {
  #why-us .whyus-card {
    height: 220px;
  }
}

@media (max-width: 1075px) {
  .navbar .fluid {
    margin-left: 45px;
  }

  #hero {
    height: 400px;
  }

  #hero .row .deskripsi h2 {
    font-size: 25px;
    margin-top: 10px;
    line-height: 40px;
  }

  #hero .row .deskripsi p {
    line-height: 20px;
    font-size: 14px;
    margin: 0px 100px 16px 0px;
  }

  #hero .row .deskripsi button {
    width: fit-content;
    height: 36px;
    background-color: #5cb85f;
    border-color: #5cb85f;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    margin: 0px 100px 16px 0px;
  }

  #hero .row .gambar {
    margin-top: 110px;
  }
}

@media (max-width: 992px) {
  .navbar .fluid {
    margin-left: 45px;
  }

  #hero {
    height: 780px;
  }

  #hero .deskripsi {
    padding: 40px 70px;
  }

  #hero .row h2 {
    line-height: 1px;
  }

  #hero .row .deskripsi p {
    line-height: 20px;
    margin: 16px 100px 16px 0px;
  }

  #hero .row .deskripsi button {
    width: fit-content;
    height: 36px;
    background-color: #5cb85f;
    border-color: #5cb85f;
    font-size: 14px;
    font-weight: bold;
    gap: 10px;
    line-height: 20px;
    margin: 0px 100px 16px 0px;
  }

  #hero .row .gambar {
    margin-top: 60px;
  }

  #our-services .gambar {
    margin-bottom: 20px;
  }

  #our-services .deskripsi2 {
    margin-top: 40px;
  }

  #why-us .whyus-card {
    height: 200px;
  }

  #testimonial {
    height: 650px;
  }
  #testimonial .container-fluid {
    padding-top: 100px;
    margin-top: 0px;
  }
  #testimonial .item {
    width: 328px;
    height: 372px;
    flex-direction: column;
    text-align: center;
  }
  #testimonial .img {
    width: 80px;
    height: 80px;
    margin: 40px auto;
    margin-bottom: 0px;
  }
  #testimonial .testimoni {
    margin: 24px 32px;
  }
  #testimonial .quote {
    width: 100%;
  }
  #testimonial .name {
    width: 100%;
  }

  #faq {
    height: auto;
  }
  #faq .container {
    flex-direction: column;
    padding-top: 80px;
    padding-right: 12px;
    padding-left: 12px;
  }
  #faq .item {
    margin-right: 0px;
  }
  #faq h1 {
    width: 100%;
  }
  #faq p {
    width: 100%;
  }
  #faq .accordion {
    width: 100%;
    margin-top: 8px;
  }

  #footer .list-unstyled.d-flex.flex-row {
    flex-wrap: wrap;
  }

  #footer.list-unstyled.d-flex.flex-row li {
    flex-basis: 50%;
  }

  #searchbar {
    margin-top: -70px;
  }

  #searchbar .col-lg-1 {
    width: 400px;
  }

  #searchbar .btn {
    margin-top: 20px;
    width: 640px;
    align-items: center;
    justify-content: center;
  }

  #result-card .card {
    height: 800px;
  }
}

@media (max-width: 880px) {
  .navbar .fluid {
    margin-left: 45px;
  }

  #hero {
    height: 740px;
  }

  #hero .deskripsi {
    padding: 40px 70px;
  }

  #hero .row h2 {
    line-height: 1px;
  }

  #hero .row .deskripsi p {
    line-height: 20px;
    margin: 16px 100px 16px 0px;
  }

  #hero .row .deskripsi button {
    width: fit-content;
    height: 36px;
    background-color: #5cb85f;
    border-color: #5cb85f;
    font-size: 14px;
    font-weight: bold;
    gap: 10px;
    line-height: 20px;
    margin: 0px 100px 16px 0px;
  }

  #hero .row .gambar {
    margin-top: 60px;
  }
}

@media (max-width: 770px) {
  .navbar .fluid {
    margin-left: 45px;
  }

  .navbar .btn {
    margin: 20px 68px 0px 12px;
  }

  #hero {
    height: 650px;
  }

  #hero .deskripsi {
    padding: 0px 70px;
  }

  #hero .row h2 {
    font-size: 30px;
    line-height: 1px;
  }

  #hero .row .deskripsi p {
    line-height: 20px;
    font-size: 14px;
    margin: 16px 100px 16px 0px;
  }

  #hero .row .deskripsi button {
    width: fit-content;
    height: 36px;
    background-color: #5cb85f;
    border-color: #5cb85f;
    font-size: 14px;
    font-weight: bold;
    gap: 10px;
    line-height: 20px;
    margin: 5px 100px 16px 0px;
  }

  #why-us .whyus-card {
    height: 170px;
  }

  #result-card .card {
    height: 700px;
  }
}

@media (max-width: 640px) {
  .navbar .fluid {
    margin-left: 45px;
  }

  #hero {
    height: 620px;
  }

  #hero .deskripsi {
    padding: 0px 70px;
  }

  #hero .row h2 {
    font-size: 30px;
    line-height: 1px;
  }

  #hero .row .deskripsi p {
    line-height: 20px;
    font-size: 14px;
    margin: 16px 100px 16px 0px;
  }

  #hero .row .deskripsi button {
    width: fit-content;
    height: 36px;
    background-color: #5cb85f;
    border-color: #5cb85f;
    font-size: 14px;
    font-weight: bold;
    gap: 10px;
    line-height: 20px;
    margin: 5px 100px 16px 0px;
  }

  #our-services .deskripsi2 {
    padding-top: 60px;
  }

  #why-us {
    padding-top: 0px;
  }

  #why-us .row {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #why-us .col-md-6.col-lg-3.my-sm-2 {
    margin-bottom: 20px;
  }
}

@media (max-width: 521px) {
  .navbar .fluid {
    margin-left: 0px;
  }

  #hero {
    height: 570px;
  }

  #hero .deskripsi {
    padding: 0px 10px;
  }

  #hero .row h2 {
    font-size: 30px;
    line-height: 1px;
  }

  #hero .row .deskripsi p {
    line-height: 20px;
    font-size: 14px;
    margin: 16px 100px 16px 0px;
  }

  #hero .row .deskripsi button {
    width: fit-content;
    height: 36px;
    background-color: #5cb85f;
    border-color: #5cb85f;
    font-size: 14px;
    font-weight: bold;
    gap: 10px;
    line-height: 20px;
    margin: 5px 100px 16px 0px;
  }

  #our-services .gambar {
    margin-bottom: 0px;
  }

  #our-services .deskripsi2 {
    margin-top: 0px;
  }

  #why-us .whyus-card {
    height: 200px;
  }

  #started .card-body p {
    width: auto;
  }
}

@media (max-width: 420px) {
  #hero {
    height: 520px;
  }

  #hero .row h2 {
    font-size: 30px;
    line-height: 1px;
  }

  #hero .row .deskripsi p {
    line-height: 20px;
    font-size: 14px;
    margin: 16px 0px 16px 0px;
  }

  #hero .row .deskripsi button {
    width: fit-content;
    height: 36px;
    background-color: #5cb85f;
    border-color: #5cb85f;
    font-size: 14px;
    font-weight: bold;
    gap: 10px;
    line-height: 20px;
    margin: 5px 100px 16px 0px;
  }

  #our-services .deskripsi2 li {
    font-size: 12px;
  }
}

@media (max-width: 382px) {
  .navbar .fluid {
    margin-left: 0px;
  }

  #hero {
    height: 524px;
  }

  #hero .deskripsi {
    padding: 0px 10px;
  }

  #hero .row h2 {
    font-size: 30px;
    line-height: 1px;
  }

  #hero .row .deskripsi p {
    line-height: 20px;
    font-size: 14px;
    margin: 16px 0px 16px 0px;
  }

  #hero .row .deskripsi button {
    width: 140px;
    height: 36px;
    background-color: #5cb85f;
    border-color: #5cb85f;
    font-size: 13px;
    font-weight: bold;
    gap: 10px;
    line-height: 20px;
    margin: 5px 100px 16px 0px;
  }

  #hero .row .gambar {
    display: none;
  }

  #hero .row .justify-content-end {
    justify-content: flex-start;
  }
}

@media (max-width: 360px) {
  #hero {
    height: 522px;
  }
  #our-services .deskripsi2 li {
    font-size: 10px;
  }
}

/*--------------------------------------------------------------
  # Login
  --------------------------------------------------------------*/

.container-grid {
  display: grid;
  /* grid-template-columns: 55% 45%; */
  grid-template-columns: 1fr;
  height: 100vh;
}

.image-section {
  position: relative;
  overflow: hidden;
  display: none;
}

.image-section img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: rgba(0, 0, 255, 0.573);
}

.form-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa;
}

.form-container {
  width: 100%;
  max-width: 400px;
}

#form-auth h2 {
  margin-top: 20px;
  font-weight: bold;
  width: 100%;
}

#form-auth button {
  width: 50%;
  height: 40px;
  background-color: #0d28a6;
  color: white;
  font-size: 14px;
}

#form-auth button:hover {
  background-color: #2165db;
}

#form-auth p {
  margin-top: 20px;
  text-align: center; /* Pusatkan teks */
  font-size: 14px;
  color: #666; /* Warna teks */
}

#form-auth a {
  color: #0d28a6; /* Warna teks tautan */
  text-decoration: none; /* Hilangkan garis bawah */
}

#form-auth a:hover {
  text-decoration: underline; /* Beri garis bawah saat tautan dihover */
}

@media only screen and (min-width: 768px) {
  .container-grid {
    grid-template-columns: 60% 40%;
  }

  .image-section {
    display: block;
  }
}

/*--------------------------------------------------------------
  # Dashboard
  --------------------------------------------------------------*/

/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap'); */
:root {
  --header-height: 4rem;
  --nav-width: 68px;
  --first-color: #0d28a6;
  --first-color-light: #afa5d9;
  --white-color: #f7f6fb;
  /* --body-font: 'Nunito', sans-serif; */
  --normal-font-size: 1rem;
  --z-fixed: 100;
}
/* *,
::before,
::after {
  box-sizing: border-box;
} */
/* body {
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 0 1rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: 0.5s;
} */
a {
  text-decoration: none;
}
.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: var(--white-color);
  z-index: var(--z-fixed);
  transition: 0.5s;
}
.header_right {
  display: flex;
  align-items: center;
}

.header_search {
  position: relative;
  margin-right: 10px;
}

.header_search_input {
  padding: 8px 30px 8px 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.header_search_button {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.header_profile {
  display: flex;
  align-items: center;
}

.header_profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.profile_info {
  display: flex;
  flex-direction: column;
}

.profile_name {
  font-weight: bold;
}

.profile_role {
  font-size: 14px;
  color: #888;
}

.header_profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.header_toggle {
  color: var(--first-color);
  font-size: 1.5rem;
  cursor: pointer;
}
.header_img {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}
.header_img img {
  width: 40px;
}
.l-navbar {
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--first-color);
  padding: 0.5rem 1rem 0 0;
  transition: 0.5s;
  z-index: var(--z-fixed);
}
.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.nav_logo,
.nav_link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: 0.5rem 0 0.5rem 1.5rem;
}
.nav_logo {
  margin-bottom: 2rem;
}
.nav_logo-icon {
  font-size: 1.25rem;
  color: var(--white-color);
}
.nav_logo-name {
  color: var(--white-color);
  font-weight: 700;
}
.nav_link {
  position: relative;
  color: var(--first-color-light);
  margin-bottom: 1.5rem;
  transition: 0.3s;
}
.nav_link:hover {
  color: var(--white-color);
}
.nav_icon {
  font-size: 1.25rem;
}

.nav_button {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: 0.5rem 0 0.5rem 1.5rem;
  color: var(--first-color-light);
  background: none;
  border: none;
  cursor: pointer;
  margin-bottom: 1.5rem;
  transition: 0.3s;
  text-align: left;
  width: 100%;
}

.nav_button:hover {
  color: var(--white-color);
}

.nav_button .nav_icon {
  font-size: 1.25rem;
}

.showw {
  left: 0;
}
.body-pd {
  padding-left: calc(var(--nav-width) + 1rem);
}
.active {
  color: var(--white-color);
}
.active::before {
  content: '';
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: var(--white-color);
}
.height-100 {
  height: 100vh;
}

.sizee {
  gap: 10px;
}

.card-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.cark {
  min-width: 120px;
  margin-right: 10px;
  margin-bottom: 10px;
  flex: 1;
  margin-right: 10px;
  justify-content: center;
}

.divider {
  margin: 0 5px;
}

.breadcrumb-separator {
  color: black;
  font-weight: bold;
  margin-right: 5px;
}

.breadcrumb-item a {
  color: #0d28a6;
  font-weight: bold;
}

.constant-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

@media screen and (min-width: 450px) {
  .content {
    margin: calc(var(--header-height) + 3rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 2rem);
    padding-right: calc(var(--nav-width) + 1rem);
  }
  .header {
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
  }
  .header_img {
    width: 40px;
    height: 40px;
  }
  .header_img img {
    width: 45px;
  }
  .l-navbar {
    left: 0;
    padding: 1rem 1rem 0 0;
  }
  .showw {
    width: calc(var(--nav-width) + 156px);
  }
  .body-pd {
    padding-left: calc(var(--nav-width) + 188px);
  }
}

/*--------------------------------------------------------------
  # Create Car
  --------------------------------------------------------------*/

.custom-card {
  background-color: #f8f9fa !important;
  border: 1px solid #dee2e6;
}

.table {
  background-color: #f8f9fa !important;
}

.table-input {
  width: 400px;
}
.table-input-file {
  width: 400px;
  margin-top: 25px;
}
.label-column {
  width: 100px;
}

.table-input2 {
  width: 190px; /* Adjust the width as needed */
}
.label-column2 {
  width: 200px;
}

.required-asterisk {
  color: red;
  /* margin-left: 0.25rem; */
}
.file-size-info {
  font-size: 0.875rem;
  color: #6c757d; /* Gray color */
}

.tb {
  background-color: #f8f9fa !important;
  margin-right: 10px;
}

/* Add this CSS to your stylesheet */
.custom-table-striped tbody tr:nth-of-type(odd) {
  background-color: #f2f2f2; /* Light gray background for odd rows */
}

.custom-table-striped tbody tr:nth-of-type(even) {
  background-color: #e6e6e6; /* Slightly darker gray background for even rows */
}
.custom-thead {
  background-color: #cfd4ed !important;
}

@media (max-width: 1100px) {
  .sortable .sort-icon {
    display: none;
  }
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.shimmer-card {
  background: #f6f7f8;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  padding: 16px;
  overflow: hidden;
  position: relative;
}

.shimmer-card::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -150%;
  height: 100%;
  width: 150%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  animation: shimmer 3s infinite;
}

@keyframes shimmer {
  100% {
    transform: translateX(150%);
  }
}

.shimmer-img,
.shimmer-title,
.shimmer-price,
.shimmer-info,
.shimmer-buttons {
  background: #e0e0e0;
  border-radius: 4px;
  margin-bottom: 12px;
}

.shimmer-img {
  height: 200px;
  margin-bottom: 16px;
}

.shimmer-title {
  height: 20px;
  width: 80%;
}

.shimmer-price {
  height: 24px;
  width: 60%;
  margin-bottom: 24px;
}

.shimmer-info {
  height: 16px;
  width: 90%;
}

.shimmer-buttons {
  height: 36px;
  width: 100%;
  margin-top: 24px;
}
